.card1{
    /* padding-left: 0rem;
    margin-top: 8rem;
    margin-left: 1rem;
    width: 50rem; */
    display: flex;
    flex-direction: row;
  
}
.h3{
    color: #bd2130;
    margin-top: 5rem;
    padding-bottom: 6rem;
}
