#root {
    padding: 0rem; /* Add some padding to the root element */
    max-width: 100%;
}

.bg {
    background-color: #bd2130;
}

.btn-outline {
    color: #000000;
    background-color: transparent;
    background-image: none;
    border-color: #000000;
}

.move {
    margin-left: 58rem; /* Adjust margin for larger screens */
}

.move1 {
    margin-left: 1rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #root {
        padding: 0 rem; /* Adjust padding for smaller screens */
    }

    .move {
        margin-left: 0rem; /* Adjust margin for smaller screens */
    }
}
.videoTag{
    width: 100%;
    height: 100%;
    object-fit: cover;
}